*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    width: 100%;
    padding: 0px 0px 20px 0px;
    color: black;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.192);
}

#contenedor{
    width: 50%;
    height: 15%;
    background-color: rgba(0, 0, 255, 0.144);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px black dotted;
}

#hora{
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#fecha{
    font-size: 20px;
    letter-spacing: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 500;
}