*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(53, 53, 53, 0.267);
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 15px;
    padding: 30px;
}

form{
    background-color: rgba(66, 66, 66, 0.158);
    border-radius: 15px;
    padding: 20px 10px 10px 10px;
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

#resultado{
    grid-column: span 2;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result{
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(122, 122, 122, 0.5);
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 5px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgba(0, 0, 0, 0.404);
    letter-spacing: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
}

input{
    background-color: rgba(122, 122, 122, 0.5);
    color: white;
    border: none;
    box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    margin: auto;
    padding: 5px;
    width: 80%;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 10px;
}

#operaciones{
    width: 50%;
    height: 10%;
    border-radius: 15px;
    background-color: rgba(66, 66, 66, 0.158);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
    gap: 15px;
}

button{
    width: auto;
    padding: 20px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.404);
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    transition: transform 0.2s ease-in-out;
}

button, #sumar{
    background-color: rgba(0, 26, 255, 0.493);
}

button, #restar{
    background-color: rgba(255, 0, 0, 0.493);
}

button, #dividir{
    background-color: rgba(21, 255, 0, 0.39);
}

button, #multiplicar{
    background-color: rgba(255, 238, 0, 0.39);
}

button, #limpiar{
    background-color: rgba(0, 183, 255, 0.39);
}

button:hover{
    transform: scale(1.1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 1330px) {
    #operaciones{
        height: 20%;
        flex-wrap: wrap;
    }
    h1{
        font-size: 60px;
    }
    #result{
        font-size: 70px;
    }
}

@media (max-width: 775px) {
    #operaciones{
        height: 30%;
        min-width: 285px;
    }
    form{
        min-width: 400px;
    }
    h1{
        font-size: 50px;
    }
}